.activity h3{
    margin-left: 25px;
}
.timer{
    background-color: #edf2f4;
    width: 280px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.timer button{
    height:40px;
    width: 40px;
    background-color: white;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}
.timer button:hover{
    background-color: #4361ee;
    color: white;
}
.timer button:focus{
    background-color: #4361ee;
    color: white;
}
.exercise-break h3{
    margin-top: 50px;
}
.exercise-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    background-color: #edf2f4;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.exercise-time h3{
    margin: 0px;
}
.break-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edf2f4;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.break-time h3{
    margin: 0px;
}
.exercise-break button{
    margin-top: 60px;
    margin-left: 25px;
    width: 85%;
    background-color: #4361ee;
    color: white;
    border: none;
    border-radius: 10px;
}
.exercise-break button:focus{
    background-color: forestgreen;
}
.exercise-break button p{
    font-size: 18px;
}
@media screen and (max-width:768px){
    .exercise-break button{
        margin-bottom: 30px;
    }
    .exercise-break button:focus {
        background-color: forestgreen;
    }
}