.container{
    display: flex;
}
.header-main{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
.header {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 60%;
    color: #9381ff;
    padding-top: 80px;
}
.icon {
    width: 50px;
    height: 40px;
}
.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.every-exercise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 60px;
}
.every-user-activity{
    background-color: white;
    width: 380px;
    height: 970px;
    position: sticky;
    top: 0;
}
.user-details{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-left: 25px;
}
.user-details h3{
    margin-top: 0px;
    margin-bottom: 3px;
}
.every-user-activity img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-address{
    display: flex;
    align-items: center;
    gap: 5px;
}
.body-details{
    width: 280px;
    height: 70px;
    background-color: #edf2f4;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 30px;
}
.body-details h2{
    margin: 0px 0;
}
.body-details p{
    margin: 8px 0;
}
@media screen and (min-width:769px) and (max-width:1280px) {
    .container {
        margin-left: 70px;
    }
    .header-main{
        margin-left: 0px;
    }
    .header{
        padding-left: 0px;
    }
    .exercise-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .every-exercise {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
    .every-user-activity{
        width: 370px;
        height: 800px;
        position: sticky;
        top: 0;
    }
}
@media screen and (max-width:768px) {
    .container {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }
    .header-main{
        margin-left: 0px;
    }
    .header {
        padding-left: 15px;
        margin-top: 0px;
    }
    .every-exercise {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }
    .every-user-activity {
        margin-top: 25px;
        border-radius: 15px;
        margin-left: 6px;
        height: auto;
    }
}